body {
  margin:0;
  padding:0;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.highlight {
  background-color: #dbefff;
  }   

.heading{
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 45px;
}
  
#imageSpace{
    position: relative;
    top: -625px;
    display: inline-block; 
    width: 60%
}
  .parent {
    display: inline;
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: -10px;
    left: 9px;
  }

  #statement{
    font-size: 30px;
    font-family: 'Kalam', cursive;
    /* font-family: 'Edu TAS Beginner', cursive; */
    padding: 10px;
    min-height: 50px;
  }

  #step{
    font-family: 'Merienda One', cursive;
    font-size: 25px;
    color: #017bfe;
  }

  #space{
    text-align: center; 
    padding: 10px 30px;
  }

  #textSpace{ 
    padding: 20px;
    position: relative; 
    /* top: 25px;  */
    height: fit-content; 
    background-color: white ; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 7px; 
    display: inline-block; 
    width: 35%; 
  }

  hr{
    border: 0;
    height: 1.5px;
    background: #333;
    width: 60%;
    background-image: -webkit-linear-gradient(left, #ccc, rgb(49, 49, 49), #ccc);
    background-image: -moz-linear-gradient(left, #ccc, rgb(49, 49, 49), #ccc);
    background-image: -ms-linear-gradient(left, #ccc, rgb(49, 49, 49), #ccc);
    background-image: -o-linear-gradient(left, #ccc, rgb(49, 49, 49), #ccc);
    }

    #selectLanguages{
      /* background-color: white; */
      color: black;
      padding: 20px 30px;
      border: none;
      border-radius: 3px;
    }

    #selectLanguages:hover{
      background-color: black;
      color: white;
    }

    #playpause{
      border: none;
      padding: 15px;
      background-color: transparent;
      color: rgb(0, 0, 0);
      font-size: 30px;
      border-radius: 100%;
    }

    #playpause:hover{
      background-color: #eeeeee;
    }

    select {
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      appearance:none;
  }

.controlButn{
  border: 0;
  background-color: #017bfe;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 0 50px 20px;
}

.controlButn:hover{
  background-color: #0061c8;
}

canvas{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 830px;
}

.progress-container {
  /* position: relative; */
  margin-left: 35px;
  margin-top: -30px;
  margin-bottom: 20px;
  height: 0.3rem;
  width: 85rem;
  border-radius: 0.4rem;

  background: rgb(212, 212, 212);
}

.progress-container .progress {
  /* position: absolute; */
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #4df14a;

  transition: width 0.4s ease;
}

#group{
  color:#017bfe;
  
  padding-left: 10px;
  font-size: 25px;
}

#captions{
  color:#0061c8;
  font-size: 20px;
  
}