{% extends "layout.html" %} 

{% block title %} Titration {% endblock %} 

{% block main %} 
<input type="hidden" id="myData" value="{{objs}}" />
<input type="hidden" id="para" value="{{para}}" />
<h3 class="heading">Salt Analysis</h3>
<div id="space">
  <div id="imageSpace"> 
  </div>
  <div id="textSpace">
    <hr>
    <p id="step"></p>
    <hr>
    <p id="statement">
    </p>
    <button onclick="prevSentence()" class="controlButn">Previous</button>
    <button onclick="nextSentence()" class="controlButn">Next</button>
    <br>
    <select id="selectLanguages"></select>
    <button id="playpause"><i class="fa-solid fa-pause"></i></button>

  </div>
</div>
<p id="expDetails" style="margin-top: 700px"></p>
{% endblock %}
